arrow==1.2.3
DateTime==4.5
Jinja2==3.1.2
MarkupSafe==2.1.1
numpy==1.23.2
packaging==21.3
pandas==1.5.0rc0
patsy==0.5.2
plotly==5.10.0
plotly-express==0.4.1
portion==2.3.0
prettytable==3.4.1
pyecharts==1.9.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
pywebio==1.6.3
scipy==1.9.1
simplejson==3.17.6
six==1.16.0
sortedcontainers==2.4.0
statsmodels==0.13.2
tenacity==8.0.1
tornado==6.2
ua-parser==0.16.1
user-agents==2.2.0
wcwidth==0.2.5
zope.interface==5.4.0
